<html lang="en-gb">
<body>
<H1>Fantasy Football Game</H1>
<div>
    <a href="{{ url_for('get_all_users') }}">Manage users</a>
</div>

{#<div>#}
{#    <a href="{{ url_for('get_all_users') }}">Create account</a>#}
{#</div>#}

<div>
    <a href="{{ url_for('get_players_db') }}">See available players</a>
</div>

</body>
</html>