{% extends "base.jinja2" %}
{% block title %}{{ title2 }}{% endblock %}
{% block content %}
    <p>Welcome new player</p>
    {% for u in players %}
    <li>{{ u.username }}</li>
    {% endfor %}

{% endblock %}
