{% extends "base.jinja2" %}
{% block title %}{{ title2 }}{% endblock %}
{% block content %}
    <p>Registered Users</p>
    {% for u in registered_users %}
        <li>
            <a href="{{ url_for('welcome_page', player_id=registered_users.index(u)) }}"> {{ u.username }} </a>
        </li>
    {% endfor %}
{% endblock %}
